<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomImageGenerator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89768AAE2C39CA0600A9398D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89768AC42C39CA0700A9398D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89768ACE2C39CA0700A9398D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
